body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1rem;
}

.test-cases,
.test-cases li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.test-cases li {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr auto;
  gap: 0.5rem;
  background: #fffddb;
  border-radius: 0.5rem;
  margin: 1rem 0;
}

.test-cases h2,
.test-cases p,
.test-cases pre {
  margin: 0;
}

.test-cases h2 {
  grid-column: span 3;
}

.test-cases p {
  grid-column: 1;
  place-self: center start;
}

.test-cases pre {
  grid-column: 2;
  padding: 0.25rem;
  background: #0001;
  border-radius: 0.25rem;
  place-self: start stretch;
  font-size: .8rem;
  max-width: 100%;
  overflow-x: auto;
}

.test-cases button {
  border: 2px solid #000b;
  border-radius: 0.25rem;
  background: #0009;
  color: white;
  font-size: inherit;
  font-weight: bold;
  place-self: center end;
  padding: 0.5rem;
}

@media (max-width: 400px) {
  .test-cases li {
    grid-template-columns: 1fr;
  }

  .test-cases h2,
  .test-cases p,
  .test-cases pre,
  .test-cases button {
    grid-column: span 1;
  }
}

@media (min-width: 401px) and (max-width: 800px) {
  .test-cases li {
    grid-template-columns: 1fr auto;
  }

  .test-cases h2,
  .test-cases p {
    grid-column: span 2;
  }

  .test-cases pre {
    grid-column: span 1;
  }
}

@media (min-width: 1400px) {
  .test-cases {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .test-cases li {
    margin: 0;
  }
}