body {
  margin: 2em;
  padding: 2em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  color: #333333;
}

.navbar {
  overflow: hidden;
  background-color: #444444;
  margin-bottom: 12px;
}

.navbar a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #dddddd;
  color: #000000;
}

code {
  background: #eeeeee;
  color: #333333;
  padding: 2px 5px;
  display: inline-block;
  border-radius: 3px;
}

body script {
  color: #ffffff;
  display: block;
  padding: 5px 10px;
  background: #000000;
  white-space: pre;
  font-family: monospace;
  line-height: 1.5;
  padding-bottom: calc(1em + 10px);
}

script::before {
  content: 'Source Code';
  color: lime;
}

.breadcrumb {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.breadcrumb a {
  text-decoration: none;
  color: #0056b3;
  margin-right: 0.5rem;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.breadcrumb a::after {
  content: '>';
  margin-left: 0.5rem;
}

.breadcrumb a:last-child::after {
  content: '';
}

.instructions {
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #dddddd;
  margin-top: 20px;
  border-radius: 5px;
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.toggle-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  cursor: pointer;
  border: none;
  background: none;
}

.toggle-button img {
  width: 24px;
  height: 24px;
}