.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#ball {
    width: 50px;
    height: 50px;
    background-color: #3498db;
    border-radius: 50%;
    position: absolute;
    animation: bounce 2s infinite;
}

#badball {
    width: 50px;
    height: 50px;
    background-color: #db3447;
    border-radius: 50%;
    position: absolute;
    animation: badbounce 2s infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-200px);
    }
}

@keyframes badbounce {

    0%,
    100% {
        left: 50%;
    }

    50% {
        left: calc(50% - 200px);
    }
}

.heavy-element {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0.1;
    z-index: -1;
}

@keyframes background-shift {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 100%;
    }
}