table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

button {
  background-image: linear-gradient(to right, #ff6666, #ffb366, #ffff66, #66ff66, #6666ff, #8c66ff, #ff66ff);
  border: dotted;
}