h1 {
  font-size: 1.5em
}

input,
button {
  min-width: 72px;
  min-height: 36px;
  border: 1px solid grey;
}

label,
input,
button {
  display: block;
}

input {
  margin-bottom: 1em;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

span {
  font-size: 0.8em;
  color: grey;
  border: 1px solid;padding-top: 1px;
  padding: 0px 4px;
}