table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.fun-list li {
  margin: 10px 0;
  font-size: 1.1em;
}

.button-container button {
  margin: 5px;
  padding: 4px;
  cursor: pointer;
}