/* body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  background: #111;
} */

table {
  border: 1px solid #fff;
  border-collapse: collapse;
}

td,
th {
  padding: 2px 5px;
  border: 1px solid #fff;
}